@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin-top:20px">
    <div class="col-md-12">
        <a href="@Url.Action("create","sensor")" class="btn btn-primary">Add Sensor</a> 
    </div>

</div>
